*{
    margin: 0;
    padding: 0;
    font-family:'Josefin Sans', sans-serif;
}
main{
    display: flex;
   justify-content: space-between;
    margin-left: 150px ;
    margin-right: 90px ;
    margin-top: 90px;
    margin-bottom: 90px ;
    }

header{
    display: flex;
  
    background-color:#272727;
    color: white;
    min-height: 100px;
    margin-bottom: 50px; 
    
}

#logo{
    display: flex;
    justify-content:flex-start;
    align-self: flex-start;
}

.imgN{
    width: 90px;
    min-height: 90px ;
    margin-left: 200px;
   
}

#iconos{
display: flex;
align-items: flex-end;
justify-content: flex-end;
padding: 20px ;
margin-left: 600px;

}

#iconos p{
    margin-right: 10px;
   
}

.imgh{
    width: 20px;
    height: 30px;}


#left{
 display: flex;
 flex-direction: column;
 width: 100%;
 padding: 600;
 padding-right: 70px;
 margin-left: 90px;
 margin-top: 120px;
 text-align: justify; 
 

}

.foto1{
    width: 100%;
    height: 400px; 
}


#left .foto2{

    width:100% ;
    height: 500;
}

#left a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

#side{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
   
}

.not{
 width: 300px;
 height: 200;

}

#side a{

    text-decoration:none;
    color: black;
    font-weight: 700;
}

#foot{
       
    background-color:#272727;
    color: white;
    padding: 20px;
}

.foot2{
    display: flex;
    justify-content: center;
    text-align: center; 

    
    
}

.foot2 a{
    text-decoration: none;
    color:black

}

.cont{
    margin-bottom: 60px;
    margin-left: 120px;
}

.end{
    align-self: flex-end;
   margin-left: -430px;
   
}

.imgN2{
    width: 120px;
    height: 120px ;
    padding-left: 400px;
    margin-top: 50px;
    
}


.or{
    width: 15px;
}
 
#side2{
    font-weight: 700;
    text-decoration: overline;
}
    
@media screen and (max-width: 700px) {
    main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 90px 0;
    }

    #iconos{
        
        align-items: flex-start;
        margin-left: 120px;

    }


    header{
        flex-wrap: wrap;
        align-items: center;
        

       
    }
  

    #left{
        flex-direction: column;
        margin-left: 5px;
        margin-top: -85px;
        width: 100%;
        padding: 0 -3px;
        padding-left: 63px;
        
    }

    #side{
        margin-bottom: -81px;
      

    }
   

    #foot{
        padding-right: 60px;  
       
        
    }

    .foot2{
       flex-direction: column;
       align-items: center;
       text-align: center;
       padding-right: 20px;
       
        
    }

    .imgN2{
        width: 90px;
        height: 90px ;
        padding-left: 123px;
    }  

    
    .cont{

        margin-left: 50px;
    }

    .end{

        margin-left: 50px;
    }
}